%tr{id: "import_file_#{import_file.id}"}
  %td= import_file['file']
  %td= number_to_currency import_file.orders.pluck(:value).sum
  %td= import_file.orders.count
  %td= l import_file.created_at, format: :short