%tr{id: "order_#{order.id}"}
  %th= order.customer_name
  %th= number_to_currency order.value
  %th= order.description
  %th= l order.created_at, format: :short
  %th
    = link_to 'Ver', order_path(order), class: 'btn btn-xs btn-default'